In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [53]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 500)

import matplotlib as mpl
import matplotlib.pyplot as plt

In [54]:
# csvの読み取り
# df= pd.read_csv("/kaggle/input/jobs-old/jobs_utf8.csv")
# これをカラム名にする
col_names = [ 'c{0:02d}'.format(i) for i in range(108) ]
  #=> ['c00', 'c01', 'c02', 'c03', 'c04', 'c05', 'c06', 'c07', 'c08', 'c09']

In [63]:
# phpmyadminのjob_offersテーブルのダンプCSVデータを読み込み
df_job_offers = pd.read_csv( './job_offers_min.csv', names=['job_offer_id', 'client_cd'],  low_memory=False )

In [64]:
# phpmyadminのwp_postsテーブルのダンプCSVデータを読み込み
df_wp_posts = pd.read_csv( './wp_posts_min.csv',  names=['id', 'job_offer_id'], low_memory=False )

In [65]:
print(df_job_offers.shape)

(298504, 2)

In [71]:
# 試しに3行目を削除
# df_job_offers = df_job_offers.drop(3)

In [72]:
# print(df_job_offers.shape)

In [73]:
print(df_wp_posts.shape)

(298504, 2)

In [74]:
df_job_offers.head()

   job_offer_id client_cd
0       4704939    mynavi
1       4877687    mynavi
2       5557791    mynavi
3       5629157    mynavi
4       5681403    mynavi

In [75]:
df_wp_posts.head()

         id  job_offer_id
0  10145295      10012045
1  10145294      10012049
2  10145277      10143691
3  10145276      10146117
4  10145244      10370411

In [76]:
df_diff = df_job_offers[~df_job_offers['job_offer_id'].isin(df_wp_posts['job_offer_id'])]

In [77]:
df_diff.shape

(0, 2)

In [78]:
df_diff.head()

Empty DataFrame
Columns: [job_offer_id, client_cd]
Index: []

In [79]:
df_diff2 = df_wp_posts[~df_wp_posts['job_offer_id'].isin(df_job_offers['job_offer_id'])]

In [80]:
df_diff2.shape

(0, 2)

In [81]:
df_diff2

Empty DataFrame
Columns: [id, job_offer_id]
Index: []