In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [38]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 500)

import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
# csvの読み取り
# df= pd.read_csv("/kaggle/input/jobs-old/jobs_utf8.csv")
# これをカラム名にする
col_names = [ 'c{0:02d}'.format(i) for i in range(108) ]
  #=> ['c00', 'c01', 'c02', 'c03', 'c04', 'c05', 'c06', 'c07', 'c08', 'c09']

# ガロアからもらったCSVを読み込み
# df_csv = pd.read_csv( './jobs.csv', encoding="cp932", names=col_names, low_memory=False )

df_csv = pd.read_csv( './jobs_utf8.csv', encoding="utf-8", names=col_names, usecols=['c00', 'c01'], low_memory=False )

In [4]:
print(df_csv.shape)

(503973, 2)

In [5]:
df_csv.head()

        c00       c01
0  13140353  jukunavi
1  13140351  jukunavi
2  13140349  jukunavi
3  13140347  jukunavi
4  13140345  jukunavi

In [6]:
# mynaviとbaitoruのデータだけ抽出
df_csv_import = df_csv.query('c01 in ["mynavi", "baitoru"]')

In [29]:
df_csv_import.head()

           c00     c01
1719  13137003  mynavi
1720  13137001  mynavi
1721  13136999  mynavi
1722  13136997  mynavi
1723  13136995  mynavi

In [30]:
df_csv_import.shape

(324870, 2)

In [15]:
# phpmyadminのjob_offersテーブルのダンプCSVデータを読み込み
df_job_offers = pd.read_csv( './job_offers.csv', names=col_names,  low_memory=False )

In [20]:
# phpmyadminのwp_postsテーブルのダンプCSVデータを読み込み
df_wp_posts = pd.read_csv( './wp_posts.csv', names=col_names,  low_memory=False )

In [31]:
df_job_offers.head()

,c00,c01,c02,c03,c04,c05,c06,c07,c08,c09,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,c44,c45,c46,c47,c48,c49,c50,c51,c52,c53,c54,c55,c56,c57,c58,c59,c60,c61,c62,c63,c64,c65,c66,c67,c68,c69,c70,c71,c72,c73,c74,c75,c76,c77,c78,c79,c80,c81,c82,c83,c84,c85,c86,c87,c88,c89,c90,c91,c92,c93,c94,c95,c96,c97,c98,c99,c100,c101,c102,c103,c104,c105,c106,c107
0,4704939,mynavi,1303209058,J0025712738S0001740059,ホール＆キッチン (週1〜OK!シフト・髪型・髪色自由◎マスクもOK★町田の人気店で働く♪),ひろしま鉄ちゃん,NaN,100,NaN,NaN,*＊。本場広島の味をご提供♪。＊*<br>お話好きの方♪*<br>⇒鉄ちゃんに向いています◎...,＼本場広島から取り寄せた材料を使用！／<br>鉄ちゃんのお好み焼きは焼き方だけでなく<br>...,時給1013円〜,1.0,1013.0,NaN,NaN,NaN,NaN,NaN,東京都町田市町田駅周辺,東京都町田市原町田6-11-13ホンタマビルB1F,13.0,13209.0,週1日以上<br>1日3時間以上<br>※「勤務時間について」を参照,小田急小田原線町田<br>徒歩2分<br>駅から5分以内,2.0,311.0,270.0,-,小田急小田原線町田<br>徒歩2分,アルバイト・パート,1.0,制服貸与、昇給あり、社員登用あり、社会保険完備,NaN,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎、副業・Ｗワー...,"10,04,14,15,16,17,18,19,20,22,23,26,32,33,34",NaN,NaN,4.0,2018-11-28 00:00:00,2019-11-27 23:59:59,35.32.27.032,139.26.58.706,1.0,2594591cis.jpeg,広島からの直送の材料を使用し、気温や湿度に合わせて調理方法を変えているこだわりの広島のお好み...,99.0,3585452cis.jpeg,写真右の店長はまさにお店の&quot;お父さん&quot;！大学生のスタッフさんは明るい笑顔...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,採用担当,NaN,NaN,NaN,NaN,NaN,NaN,給与について,▼給与<br>時給1013円〜<br>▼支払方法<br>月1回<br>▼交通費<br>なし<...,勤務時間について,▼勤務期間<br>長期（3ヶ月以上）<br>▼シフト<br>週1日以上※1日3時間以上<br...,勤務曜日,月、火、水、木、金、土、日<br>【定休日】毎週火曜日,NaN,NaN,応募資格,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎、副業・Ｗワー...,待遇・福利厚生,制服貸与、昇給あり、社員登用あり、社会保険完備,NaN,NaN,アクセスについて,小田急小田原線町田（徒歩2分）<br>横浜線町田（徒歩3分）<br>小田急小田原線相模大野<...,Tel受付時間,050-5841-5500<br>音声案内に従い、以下の番号をご入力下さい。<br>2378...,NaN,NaN,1.0,NaN,"制服あり,高校生歓迎,学生可,フリーター歓迎,主婦(夫)歓迎,学歴不問,副業・Ｗワーク歓迎,...",1,NaN,NaN,NaN,2018-11-28 10:31:42,2019-10-25 09:51:12,NaN,JR東日本,JR横浜線,東京都,町田,町田駅,139.445579,35.542004,NaN,2019-10-25 22:15:36,NaN,NaN
1,4877687,mynavi,2831804354,J0025942462S0003916432,コールSTAFF ((*゜ー゜)激ヤバ!!＼誰でも高時給1500円／週2〜★髪&amp;ネイ...,株式会社トラストコーポレーション,NaN,1000,NaN,NaN,≪四ツ橋&amp;心斎橋駅徒歩スグ!!≫<br>休憩室は…まるでオシャレCafe★<br>マ...,＼ノルマは一切ナシ／だから始めやすい♪<br>★マニュアル通りに話すだけ！<br>★誰でもみ...,時給1500円以上＋交通費支給＋インセンティブ,1.0,1500.0,NaN,NaN,NaN,NaN,NaN,大阪府大阪市,大阪府大阪市西区北堀江1-17-11リバーライズ北堀江2F,27.0,27106.0,週2日以上<br>1日4時間以上<br>※「勤務時間について」を参照,四つ橋線四ツ橋<br>徒歩2分<br>駅から5分以内、交通費支給,6.0,703.0,40.0,ブロードバンド事業<br>テレマーケティング事業<br>その他ネットワークに関する事業,四つ橋線四ツ橋<br>徒歩2分,アルバイト・パート,1.0,昇給あり、社員登用あり、社会保険完備,NaN,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎、副業・Ｗワー...,"01,04,14,15,16,17,18,19,20,22,23,24,25,27,32,3...",NaN,NaN,3.0,2018-12-07 00:00:00,2019-12-06 23:59:59,34.40.15.340,135.29.56.868,1.0,3568574cis.jpeg,とってもキレイな新しいオフィス★<br>休憩室はソファやカウンターがあって、居心地抜群!!<...,99.0,3568570cis.jpeg,＼未経験OK／＼ノルマなし／<br>マニュアル通りに読むだけで簡単です★<br>サポートも充...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,採用担当,NaN,NaN,NaN,NaN,NaN,NaN,給与について,▼給与<br>時給1500円以上＋交通費支給＋インセンティブ<br>▼支払方法<br>月1回...,勤務時間について,▼勤務期間<br>短期（1ヶ月以内）、短期（3ヶ月以内）、長期（3ヶ月以上）、春/夏/冬休み...,勤務曜日,月、火、水、木、金、土、日<br>≪平日のみ≫≪土日のみ≫⇒OK★,NaN,NaN,応募資格,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎、副業・Ｗワー...,待遇・福利厚生,昇給あり、社員登用あり、社会保険完備,NaN,NaN,アクセスについて,四つ橋線四ツ橋（徒歩2分）<br>長堀鶴見緑地線西大橋（徒歩4分）<br>御堂筋線心斎橋（徒...,Tel受付時間,050-5841-5500<br>音声案内に従い、以下の番号をご入力下さい。<br>2418...,NaN,NaN,1.0,NaN,"交通費支給,高校生歓迎,学生可,フリーター歓迎,主婦(夫)歓迎,学歴不問,副業・Ｗワーク歓迎...",1,NaN,NaN,NaN,2018-12-07 10:26:29,2019-10-25 09:51:12,NaN,大阪市交通局,大阪市営地下鉄四つ橋線,大阪府,四ツ橋,四ツ橋駅,135.496783,34.674112,NaN,2019-10-25 22:15:36,NaN,NaN
2,5557791,mynavi,2049102968,J0026594964S0002093589,店舗STAFF (時給大幅UP!!≫人気の個人店♪[同時募集]ラーメン店のオープニングSTA...,牛タン焼海鮮炉端焼 田舎家酒房 藩次郎,NaN,100,NaN,NaN,＜同時募集!＞<br>8月OPENしたラーメン店なら…<br>皆で一緒にSTART♪注目ポイ...,店主と女将が地元ラジオに出演?笑<br>＼地元密着の愛され店★／<br><br>同時募集のラ...,時給：1100円〜1375円以上 + 交通費支給,1.0,1100.0,NaN,NaN,NaN,NaN,NaN,神奈川県川崎市,神奈川県川崎市中原区新城3-7-4山田ビル1F,14.0,14133.0,週1日以上<br>1日3時間以上<br>※「勤務時間について」を参照,南武線(川崎−立川)武蔵新城<br>徒歩2分<br>駅から5分以内、交通費支給、バイク/自転...,2.0,174.0,120.0,居酒屋経営,南武線(川崎−立川)武蔵新城<br>徒歩2分,アルバイト・パート,1.0,制服貸与、昇給あり、社会保険完備、社員割引あり,NaN,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎、副業・Ｗワー...,"08,10,01,04,14,15,16,17,18,19,20,22,23,24,25,2...",NaN,NaN,3.0,2019-01-10 00:00:00,2020-01-09 23:59:59,35.34.57.216,139.38.01.056,1.0,4004306cis.jpeg,未経験の方もスタッフが優しくお教えします♪<br>仕事に慣れるのも早いです★<br>ガッツリ...,99.0,4076146cis.jpeg,こちらは同時募集のラーメン店の写真♪<br>居酒屋もいいけどラーメン店も気になる…<br>そ...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,採用担当,NaN,NaN,NaN,NaN,NaN,NaN,給与について,▼給与<br>時給：1100円〜1375円以上 + 交通費支給<br>▼支払方法<br>月1...,勤務時間について,▼勤務期間<br>短期（1ヶ月以内）、短期（3ヶ月以内）、長期（3ヶ月以上）<br>お試しで...,勤務曜日,月、水、木、金、土、日<br>火曜日はお休みです♪<br>「平日のみ」「日曜日だけ」もOK,NaN,NaN,応募資格,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎、副業・Ｗワー...,待遇・福利厚生,制服貸与、昇給あり、社会保険完備、社員割引あり,NaN,NaN,アクセスについて,南武線(川崎−立川)武蔵新城（徒歩2分）<br>南武線(川崎−立川)武蔵中原<br>東急田園...,Tel受付時間,050-5841-5500<br>音声案内に従い、以下の番号をご入力下さい。<br>0184...,NaN,NaN,1.0,NaN,"食事付き,制服あり,交通費支給,高校生歓迎,学生可,フリーター歓迎,主婦(夫)歓迎,学歴不問...",1,NaN,NaN,NaN,2019-01-10 10:32:27,2019-10-25 09:51:13,NaN,JR東日本,JR南武線,神奈川県,武蔵新城,武蔵新城駅,139.629419,35.587369,NaN,2019-10-25 22:15:36,NaN,NaN
3,5629157,mynavi,2396602275,J0026650072S0001464541,店舗スタッフ (★駅近3分★《週2日〜、1日3.5hでOK◎》食事補助＆有給休暇あり！),さくら市場館府中フォーリス店,NaN,200,NaN,NaN,*駅近3分/嬉しい「社員割引＆有休」*<br>とっても簡単なお仕事です！未経験も多数活躍中★...,＼＼学生・Wワーク・主婦(夫)活躍中！／／<br>★シフト相談OK！食事補助もついてます★<...,時給1013円〜,1.0,1013.0,NaN,NaN,NaN,NaN,NaN,東京都府中市府中駅周辺,東京都府中市宮町1-41-1フォーリスB１,13.0,13206.0,週2日以上<br>1日3.5時間以上<br>※「勤務時間について」を参照,京王線府中(東京都)<br>徒歩3分<br>駅から5分以内、交通費支給,2.0,301.0,250.0,・スーパーマーケット経営<br><br>,京王線府中(東京都)<br>徒歩3分,アルバイト・パート,1.0,制服貸与、社会保険完備、社員割引あり,NaN,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎,"10,01,04,14,15,16,18,19,20,22,33,35",NaN,NaN,4.0,2019-01-15 00:00:00,2020-01-14 23:59:59,35.40.03.298,139.28.57.673,1.0,4034988cis.jpeg,年齢を問わずみんな和気あいあいとしていて明るい職場！駅近で通勤便利♪時短勤務でサクッと無理な...,99.0,4034990cis.jpeg,仕事はすぐに覚えられる簡単な内容ばかり♪未経験でもスグ活躍できます☆随時シフトの相談も受け付...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,採用担当,NaN,NaN,NaN,NaN,NaN,NaN,給与について,▼給与<br>時給1013円〜<br>▼支払方法<br>月1回<br>▼交通費<br>別途一...,勤務時間について,▼勤務期間<br>長期（3ヶ月以上）<br>▼シフト<br>週2日以上※1日3.5時間以上<...,勤務曜日,月、火、水、木、金、土、日<br>※シフトのご相談は気軽にしてください♪,NaN,NaN,応募資格,高校生歓迎、フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎,待遇・福利厚生,制服貸与、社会保険完備、社員割引あり,NaN,NaN,アクセスについて,京王線府中(東京都)（徒歩3分）<br>武蔵野線府中本町（徒歩8分）<br>南武線(川崎−立...,NaN,NaN,NaN,NaN,1.0,NaN,"制服あり,交通費支給,高校生歓迎,学生可,フリーター歓迎,主婦(夫)歓迎,学歴不問,大学生歓...",1,NaN,NaN,NaN,2019-01-15 21:27:06,2019-10-25 09:51:13,2.0,京王電鉄,京王線,東京都,府中,府中駅,139.479900,35.672245,NaN,2019-10-25 22:15:36,NaN,NaN
4,5681403,mynavi,2584104661,J0026761608S0000057214,人力車での観光案内 (&lt;週2〜3&gt;Welcome to Ebisuya！その英語...,えびす屋 浅草店,エビスヤ,200,NaN,NaN,＼英語で世界を歓迎しよう／<br>日本にいながらネイティブの方と<br>外国語会話ができる！...,◆レアバイト募集◆<br>英語が喋れるのに喋れる場所が無い、<br>喋ってみたいけど勇気が出...,時給1200円〜＋インセンティブ＋食事手当＋交通費,1.0,1200.0,NaN,NaN,NaN,NaN,NaN,東京都台東区浅草駅周辺,東京都台東区浅草一丁目２０−４イーストビル３F,13.0,13106.0,週2日以上<br>※「勤務時間について」を参照,銀座線浅草<br>徒歩2分<br>駅から5分以内、交通費支給,2.0,246.0,230.0,人力車での観光案内、結婚式、イベント出張,銀座線浅草<br>徒歩2分,アルバイト・パート,1.0,制服貸与、昇給あり、社員登用あり、社会保険完備,NaN,フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎,"08,10,01,14,15,16,18,19,20,32,33,34",NaN,NaN,4.0,2019-01-18 00:00:00,2020-01-17 23:59:59,35.42.30.362,139.47.56.877,1.0,4057504cis.jpeg,≪未経験大歓迎≫「やってみたい！」「興味がある！」きっかけはなんでもOK☆一生に一度きりのレ...,99.0,4057506cis.jpeg,優しいインストラクターがしっかり教えます。個人のペースにあったメニューで、無理の無い研修を行...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,採用担当,NaN,NaN,NaN,NaN,NaN,NaN,給与について,▼給与<br>時給1200円〜＋インセンティブ＋食事手当＋交通費<br>▼支払方法<br>月...,勤務時間について,▼勤務期間<br>長期（3ヶ月以上）<br>卒業までの時間を有意義に過ごしたい方大歓迎！<b...,勤務曜日,月、火、水、木、金、土、日<br>【休日・休暇】シフト制<br><br>お気軽にご相談ください♪,NaN,NaN,応募資格,フリーター歓迎、大学生歓迎、二部学生歓迎、学歴不問、主婦(夫)歓迎,待遇・福利厚生,制服貸与、昇給あり、社員登用あり、社会保険完備,NaN,NaN,アクセスについて,銀座線浅草（徒歩2分）<br>東武伊勢崎線浅草（徒歩2分）<br>都営浅草線浅草（徒歩2分）...,Tel受付時間,050-5841-5500<br>音声案内に従い、以下の番号をご入力下さい。<br>4061...,NaN,NaN,1.0,NaN,"食事付き,制服あり,交通費支給,フリーター歓迎,主婦(夫)歓迎,学歴不問,大学生歓迎,二部学...",1,NaN,NaN,NaN,2019-01-18 21:31:52,2019-10-25 09:51:13,NaN,東京メトロ,東京メトロ銀座線,東京都,浅草,浅草駅,139.797592,35.710733,NaN,2019-10-25 22:15:36,NaN,NaN

In [58]:
df_wp_posts.head()

,c00,c01,c02,c03,c04,c05,c06,c07,c08,c09,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,c44,c45,c46,c47,c48,c49,c50,c51,c52,c53,c54,c55,c56,c57,c58,c59,c60,c61,c62,c63,c64,c65,c66,c67,c68,c69,c70,c71,c72,c73,c74,c75,c76,c77,c78,c79,c80,c81,c82,c83,c84,c85,c86,c87,c88,c89,c90,c91,c92,c93,c94,c95,c96,c97,c98,c99,c100,c101,c102,c103,c104,c105,c106,c107
0,2,1,2017-06-08 19:37:06,2017-06-08 19:37:06,これはサンプルページです。同じ位置に固定され、(多くのテーマでは) サイトナビゲーションメニ...,サンプルページ,NaN,private,closed,open,NaN,sample-page,NaN,NaN,2017-06-08 20:07:25,2017-06-08 11:07:25,NaN,0,https://c42.xsrv.jp/girlpress?page_id=2,26,page,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32,1,2017-06-07 01:59:51,2017-06-06 16:59:51,<![CDATA[<h3>仕事内容</h3>\n短期・単発のお仕事多数!!\n○サンプリング...,簡単業務で大人気★月1日～OK!!高時給・短期のレアバイト★勤務地はご自宅近くでご用意！,NaN,trash,open,open,NaN,a006__trashed,NaN,NaN,2019-10-08 05:05:34,2019-10-07 20:05:34,NaN,0,http://www.girl-press.com/?p=32,321334,post,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37,1,2017-04-29 14:31:05,0000-00-00 00:00:00,"<table id=""wysija_wrapper"" border=""0"" width=""1...",NaN,NaN,draft,closed,closed,NaN,NaN,NaN,NaN,2017-04-29 14:31:05,0000-00-00 00:00:00,NaN,0,https://c42.xsrv.jp/girlpress/?post_type=lp&am...,1,lp,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,87,1,2017-05-14 02:17:24,2017-05-13 17:17:24,<![CDATA[<h3>仕事内容</h3>\n小学生と一緒にキャンプに行き、\n子どもたち...,【最大2万6000円】子どもたちととにかく遊ぶ★2泊3日サマーキャンプアシスタント,NaN,trash,open,open,NaN,a007__trashed,NaN,NaN,2019-10-08 05:05:34,2019-10-07 20:05:34,NaN,0,http://www.girl-press.com/?p=87,321336,post,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121,1,2017-05-16 12:53:34,2017-05-16 03:53:34,<table>\r\n<tbody>\r\n<tr>\r\n<th>会社名</th>\r\n...,運営会社,NaN,publish,closed,closed,NaN,company,NaN,NaN,2018-08-20 12:56:18,2018-08-20 03:56:18,NaN,0,https://c42.xsrv.jp/girlpress/?page_id=121,28,page,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_job_offers_min = df_job_offers[['c00', 'c01']]

In [40]:
df_wp_posts_min = df_wp_posts[['c00', 'c23']]

In [41]:
print(df_job_offers_min.shape)

(324456, 2)

In [42]:
print(df_wp_posts_min.shape)

(326441, 2)

In [43]:
df_job_offers_min.head()

       c00     c01
0  4704939  mynavi
1  4877687  mynavi
2  5557791  mynavi
3  5629157  mynavi
4  5681403  mynavi

In [44]:
df_wp_posts_min.head()

   c00  c23
0    2  NaN
1   32  NaN
2   37  NaN
3   87  NaN
4  121  NaN

In [48]:
df_wp_posts_min = df_wp_posts_min[np.isfinite(df_wp_posts_min['c23'])]

In [49]:
print(df_wp_posts_min.shape)

(324456, 2)

In [50]:
df_wp_posts_min.head()

          c00         c23
1984  9822488  12736151.0
1985  9822489  12736141.0
1986  9822490  12736140.0
1987  9822491  12736139.0
1988  9822497  12736133.0

In [53]:
df_diff = df_job_offers_min[~df_job_offers_min['c00'].isin(df_wp_posts_min['c23'])]

In [54]:
df_diff.shape

(0, 2)

In [55]:
df_diff.head()

Empty DataFrame
Columns: [c00, c01]
Index: []

In [56]:
df_diff2 = df_wp_posts_min[~df_wp_posts_min['c23'].isin(df_job_offers_min['c00'])]

In [57]:
df_diff2.shape

(0, 2)

In [59]:
df_diff3 = df_job_offers_min[~df_job_offers_min['c00'].isin(df_csv_import['c00'])]

In [60]:
df_diff3.shape

(2542, 2)

In [61]:
df_diff4 = df_csv_import[~df_csv_import['c00'].isin(df_job_offers_min['c00'])]

In [62]:
df_diff4.shape

(324870, 2)

In [23]:
df_diff2.to_csv("df_diff2.csv")